@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');
:root{
    --primary-color:#3c4868;
    --secondary-color:#0a4470;
    --accent1-color:#ECFEFA;
    --accent2-color:#06382E;

    --heading-font:"open sans", sans-serif;
    --paragraph-font:"open sans", sans-serif;

    --nav-background-color:#3c4868;
    --nav-link-color:#0a4470;
    --nav-hover-link-color:#0a4470;
    --nav-hover-background-color:#9F9F93;
}

h1,h2,h3{
    font-family:var(--paragraph-font);
    color: var(--primary-color);
}

a{
    text-decoration: none;
}

.hero img{
    display: block;
    width: 100%;
    height: auto;
    position: relative;
}

h1{

    width: 70%;
    height: 20%;
    right: 120%;
    left: 15%;
    top: 300px;
    background-color: #9F9F93;
    opacity: .7;
    position:absolute;
    
}
h1{
    text-align: center;
}




article {
    block-size: 200%;
    width: 10%;
    height: 100%;
    top :100%;
    background-color:#7c99ce;
    background-size: 900%;
    position:absolute ;
}

article img{
    width:10%;
    height:100%;
    position:absolute;
}