@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');
:root{
    --primary-color:#3c4868;
    --secondary-color:#0a4470;
    --accent1-color:#ECFEFA;
    --accent2-color:#06382E;

    --heading-font:"open sans", sans-serif;
    --paragraph-font:"open sans", sans-serif;

    --nav-background-color:#3c4868;
    --nav-link-color:#0a4470;
    --nav-hover-link-color:#0a4470;
    --nav-hover-background-color:#9F9F93;
}

h1,h2,h3{
    font-family:var(--paragraph-font);
    color: var(--primary-color);
}

a{
    text-decoration: none;
}

.hero img{
    display: block;
    width: 100%;
    height: auto;
    position: relative;
}

h1{

    width: 70%;
    height: 20%;
    right: 120%;
    left: 15%;
    top: 300px;
    background-color: #9F9F93;
    opacity: .7;
    position:absolute;
    
}
h1{
    text-align: center;
}




article {
    block-size: 100%;
    width: 10%;
    height: 0;
    left: 18%;
    right:1000%;
    top :500px;
    bottom: 1000px;
    background-color:#7c99ce;
    font-size: 14px;
    padding: 350px;
    padding-bottom: 100px;
    padding-top: 10px;
    text-align: left;
    opacity:.7;
    position:absolute ;
    
}

header{
    grid-area: header;
    background-color: rgb(145, 145, 181);
    padding: 25px;
}
nav{
    grid-area: nav;
    background-color: rgb(145, 145, 181);
    padding: 25px;
    display: flex;
    text-align: right;
    float: right;
    
}






